bundle () {
	IMAGE=$(basename $(pwd))
	PWD=$(pwd)
	docker run -i -v ${PWD}:/opt/app ${IMAGE}/app:latest bundle $@
}

rails () {
	IMAGE=$(basename $(pwd))
	PWD=$(pwd)
	docker run -i -v ${PWD}:/opt/app ${IMAGE}/app:latest bin/rails $@
}

yarn () {
	IMAGE=$(basename $(pwd))
	PWD=$(pwd)
	docker run -i -v ${PWD}:/opt/app ${IMAGE}/app:latest yarn $@
}

export_function bundle
export_function rails
export_function yarn
